* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e58e26;
    width: 100%;
}

.container {
    width: 80%;
    background-color: rgba(250, 211, 144, 0.2);
    margin: 0 auto;
}